<div style="text-align: center;">
    <h3>Please enter the Make ID of the Car Make you want to get rid of</h3>
    <h4>(refer to 'Makes' section)</h4>

    <p style="color: red;">Field needs to be filled with an ID number greater than 0</p>
    
    @if (submitted) 
    {
      <p style="color: green;"><b>Successfully Deleted Car Make: </b></p> 
      <p style="color: green;"><b>ID: {{ deletedMake?.id }}</b></p>
      <p style="color: green;"><b>Name: {{ deletedMake?.make }}</b></p>
      <p style="color: green;"><b>Origin: {{ deletedMake?.origin }}</b></p>
    }

    @if (errorMessage) 
    {
      <p style="color: red;"><b>{{ errorMessage }}</b></p>
    }

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <label>Make ID: </label>
          <input type="text" formControlName="makeId">
        </div>
        
        <br>

        <button type="submit">Delete Make</button>
    </form>
</div>